@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #006400;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 100px;
}

.content {
    max-width: 900px;
    width: 100%;
    padding: 30px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.section-header {
    color: #006400;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.action {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



.action h3 {
    color: #333;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.action p {
    color: #555;
    margin-bottom: 15px;
    font-size: 0.95rem;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.add{
    font-size: 1rem ;
    width: 100px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove{
    font-size: 1rem ;
    width: 140px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Logout button styling */
.logout-button button {
    width: 200px;
    margin-top: 10px;
}